/*=========\
|| IMPORT ||
\=========*/
@import url('https://fonts.googleapis.com/css?family=Muli|Oswald|Satisfy|Caveat|Zhi+Mang+Xing|Fira+Sans+Extra+Condensed:wght@500|Bebas+Neue&display=swap');

/*============\
|| VARIABLES ||
\============*/
:root {
	 /*----------------------*\
	/* COLOR SCHEME VARIABLES *\
	\*------------------------*/
	--accent-color: rgb(0, 0, 0);
	--shadow-color: rgba(0, 0, 0, 0.5);
	--text-shadow-color: rgb(143, 144, 156);

	 /*--------------*\
	/* BODY VARIABLES *\
	\*----------------*/
	/* Main body text. Must be clear easy to read. */
	--main-text-color: rgb(235, 235, 235);
	--main-font: Muli, Arial, sans-serif;
	--main-font-size: 18px;

	/* Text colors to emphasize */
	--emphasis-text-color: rgba(134, 204, 230, 1);
	--emphasis-dark-text-color: rgba(9, 10, 10, 1);
	--emphasis-highlight-color: rgba(146, 250, 255, 1);
	--emphasis-dull-color: rgba(49, 109, 132, 1);

	/* Background gradient color for general elements: primary to tertiary color. */
	--gen-gradient: linear-gradient(rgb(59, 63, 74), rgb(4, 4, 4));

	/* Font used for headers and titles. */
	--header-font: "Oswald", "Fira Sans Extra Condensed", "Bebas Neue", monospace;
	
	 /*------------------------*\
	/* NAVIGATION BAR VARIABLES *\
	\*--------------------------*/
	/* Font style for text in navigation bar. */
	--nav-font-size: 15px;

	/* Colors of text in navigation bar. */
	--nav-highlight-color: rgba(255, 255, 255, 1);
	--nav-shadow-color: 0px 0px 4px rgba(0, 0, 0, 1);

	 /*-------------------*\
	/* PAGE SIZE VARIABLES *\
	\*---------------------*/
	--info-container-bg-color: rgba(20, 20, 20, 1);
	--info-container-bg-shadow: rgba(0, 0, 0, 0.75);
	--info-container-size: 43%;

	--content-container-size: calc(100% - var(--info-container-size));
	--content-container-bg-color: rgba(53, 61, 66, 0.75);
	--content-container-padding: 32px;

	 /*-----------------*\
	/* SECTION VARIABLES *\
	\*-------------------*/
	--section-header-color: rgba(20, 20, 20, 0.25);
	--section-content-bg-color: rgba(255, 255, 255, 0.15);
	--section-padding: 12px;
	--tabs-max-height: calc(200px + 50vh);

	 /*-------------------*\
	/* THUMBNAIL VARIABLES *\
	\*---------------------*/
	--thumbnail-default-size: 8vw;
	--thumbnail-min-size: 80px;
	--thumbnail-max-size: 150px;

	 /*--------------*\
	/* GRID VARIABLES *\
	\*----------------*/
	--grid-color: rgb(46 50 53 / 0.5);
	--grid-header-color: rgba(148, 176, 188, 0.75);

	 /*--------------*\
	/* MISC VARIABLES *\
	\*----------------*/
	--portrait-size: 200px;
}

/*==========\
|| GENERAL ||
\==========*/
body {
	margin: 0;
	padding: 0;
	font-family: var(--main-font);
	font-size: var(--main-font-size);
	color: var(--main-text-color);
	background-image: url("../images/skygarden.jpg");
	background-color: rgb(90, 90, 90);
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: overlay;
}

html, body {
	height: 100%;
	margin: 0
	padding: 0;
	overflow: hidden;
}

::selection {
	color: var(--info-container-bg-color);
	background-color: rgba(190, 210, 225, 0.35);
}

a {
	text-decoration: none;
	cursor: pointer;
}

a:link {
	color: var(--emphasis-text-color);
	transition: color 0.25s;
}

a:visited {
	color: var(--emphasis-text-color);
}

a:hover {
	color: var(--emphasis-highlight-color);
	transition: color 0.1s;
}

a:active {
	color: var(--emphasis-dull-color);
	transition: color 0.1s;
}

a:selection {
	color: var(--emphasis-highlight-color);
}

.small-text {
	font-size: 12px;
}

.em-text {
	color: var(--emphasis-text-color);
}

.em-text-dark {
	color: var(--emphasis-dark-text-color);
}

.em-text::selection {
	color: var(--emphasis-highlight-color);
}

.em-text-dark::selection {
	color: var(--emphasis-highlight-color);
	background-color: rgba(0, 0, 0, 0.5);
}

/*=========\
|| STATES ||
\=========*/
.showing {
	display: inline;
}

.hidden {
	display: none;
}

/*=============\
|| NAVIGATION ||
\=============*/
/* Entire navigation bar. */
.navigation-container {
	display: inline-block;
	position: absolute;
	bottom: 0;
	width: 100%;
	background: var(--gen-gradient);
	text-align: center;
}

/* Box for each individual link element. */
.nav {
	display: inline-block;
	height: 2em;
	width: 20%;
	margin-left: 0.5em;
	margin-right: 0.5em;
	font-size: var(--nav-font-size);
	font-family: var(--nav-font);
	text-transform: uppercase;
	text-decoration: none;
}

/* Page user is currently on. */
.active-tab {
	padding-top: 0.75em;
	padding-bottom: 0.75em;
	height: 100%;
	background-color: var(--accent-color);
	box-shadow: 0px 3px 3px 3px var(--shadow-color);
	cursor: default !important;
}

.active-tab .nav-select-decor {
	display: none !important;
}

/* Symbols that appear next to navigation links when mousing over. 
   Invisible by default. */
.nav-select-decor {
	display: inline;
	opacity: 0;
	transition: opacity 0.25s;
	vertical-align: 1px;
}

.nav {
	cursor: pointer;
}

/* Make symbols appear when mousing over. */
.nav:hover .nav-select-decor {
	opacity: 1;
	transition: opacity 0.4s;
}

/*=================\
|| PAGE CONTAINER ||
\=================*/
#page-container {
	height: 100%;
	scroll-behavior: smooth;
	overflow: scroll;
	scroll-snap-type: y mandatory;
}

#page-container::-webkit-scrollbar {
	display: none;
}

.page {
	min-height: 500px;
	height: 100%;
	margin: 0px;
	padding: 0;
	scroll-snap-align: start;
}

/*=================\
|| INFO CONTAINER ||
\=================*/
.info-container {
	background-color: var(--info-container-bg-color);
	display: inline-block;
	margin: 0;
	padding: 0;
	float: left;
	width: var(--info-container-size);
	height: 100%;
	//box-shadow: 0px 0px 3px 3px var(--shadow-color);
	text-align: center;
}

.info-container-full {
	width: 100%;
}

.info-formatter {
	position: relative;
	top: 30%;
    transform: translateY(-30%);
}

.page-header {
	margin: 2.5vw;
}

.page-title {
	font-size: calc(50px + 2vw);
	font-family: "Satisfy", sans-serif;
	text-shadow: 0.02em 0.02em var(--text-shadow-color);
}

.page-tagline {
	font-size: calc(15px + 0.75vw);
	font-family: "Oswald", monospace;
	text-transform: uppercase;
	text-shadow: 0.05em 0.05em var(--text-shadow-color);
}

.page-desc {
	margin-top: 1.75vw;
	margin-right: 6vw;
	margin-left: 6vw;
}

.page-desc-full {
	margin-right: 10vw;
	margin-left: 10vw;
}

#home-container {
	position: relative;
	background-color: transparent;
	box-shadow: 0 0px 48px 8px var(--info-container-bg-shadow) inset;
}

.home-caption-container {
	position: absolute;
	width: 50%;
	bottom: 10%;
	left: 25%;
}

.proj-icon-text {
	font-family: var(--header-font);
	text-transform: uppercase;
	color: var(--main-text-color);
}

/*====================\
|| CONTENT CONTAINER ||
\====================*/
.content-container {
	display: inline-block;
	float: right;
	margin: 0;
	padding: 0;
	width: var(--content-container-size);
	height: 100%;
	background-color: var(--content-container-bg-color);
}

.scrolling-content-container {
	position: relative;
	height: 100%;
	padding: var(--content-container-padding);
	box-sizing: border-box;
	overflow: scroll;

	/* Firefox, IE */
	scrollbar-width: none;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.scrolling-content-container::-webkit-scrollbar {
	/* Chrome, Safari, Edge */
	display: none;
}

#content-proj .scrolling-content-container {
	padding: 20px 20px 60px 20px;
}

.padding-div {
	padding-bottom: calc(2 * var(--content-container-padding));
}

/*===========\
|| SECTIONS ||
\===========*/
.section-header {
	display: flow-root;
	color: var(--emphasis-dark-text-color);
	text-transform: uppercase;
	font-family: var(--header-font);
	font-size: calc(1.25 * var(--main-font-size));
	padding: 4px 8px 4px 8px;
}

.section-content {
	padding: var(--section-padding);
}

.section-color-dark {
	background-color: var(--section-header-color);
}

.section-color-light {
	background-color: var(--section-content-bg-color);
}

.collapsible-tab {
	cursor: pointer;
	margin-top: 4px;
}

.collapsible-tab:hover {
	color: var(--main-text-color);
	transition: color 0.5s;
	transition-timing-function: ease-out;
}

.tab-indicator {
	float: right;
	width: 24px;
	display: inline;
}

.indicator-collapse {
	transform: matrix(1, 0, 0, -1, 0, -4);
	animation: anim-indicator-flip-up;
	animation-duration: 0.35s;
	animation-timing-function: ease-out;
}

.indicator-expand {
	transform: matrix(1, 0, 0, 1, 0, 0);
	animation: anim-indicator-flip-down;
	animation-duration: 0.35s;
	animation-timing-function: ease-out;
}

@keyframes anim-indicator-flip-up {
	from {
		transform: matrix(1, 0, 0, 1, 0, 0);
	}
}

@keyframes anim-indicator-flip-down {
	from {
		transform: matrix(1, 0, 0, -1, 0, -4);
	}
}

.collapsible-body {
	overflow: scroll;
	text-align: center;

	/* Firefox, IE */
	scrollbar-width: none;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.collapsible-body::-webkit-scrollbar {
	/* Chrome, Safari, Edge */
	display: none;
}

.expanded {
	height: var(--tabs-max-height);
	padding: var(--section-padding);
	opacity: 100%;
	animation-name: expand-tab;
	animation-duration: 0.5s;
	animation-timing-function: ease-out;
}

.collapsed {
	height: 0;
	opacity: 0;
	animation-name: collapse-tab;
	animation-duration: 0.35s;
	animation-timing-function: ease-in-out;
}

@keyframes expand-tab {
	from {
		height: 0;
		opacity: 0;
	}
}

@keyframes collapse-tab {
	0% {
		height: var(--tabs-max-height);
		padding: var(--section-padding);
		opacity: 100%;
	}
	100% {
		padding: var(--section-padding);
		opacity: 0%;
	}
}

/*===============\
|| PROJECT GRID ||
\===============*/
.grid-proj-title {
	grid-area: header;
	display: flow-root;
	text-transform: uppercase;
	background-color: var(--grid-header-color);
	cursor: pointer;
}

.grid-proj-desc {
	grid-area: desc;
	background-color: var(--grid-color);
}

.grid-proj-side-top {
	grid-area: sidetop;
	overflow: auto;
	word-wrap: break-word;
	min-width: 120px;
	background-color: var(--grid-color);
}

.grid-proj-side-bot {
	grid-area: sidebot;
	overflow: auto;
	word-wrap: break-word;
	min-width: 120px;
	background-color: var(--grid-color);
}

.grid-proj-img {
	grid-area: img;
	text-align: center;
	background-color: var(--grid-color);
}

.grid-container {
	display: grid;
	grid-template-columns: 70%;
	grid-gap: 2px;
	text-align: left;
	margin: var(--section-padding) / 2;
	transition: margin 0.5s;
}

.gc-v1 {
	grid-template-areas:
	'header header header'
	'desc desc sidetop'
	'desc desc sidetop'
	'img img img';
}

.gc-v2 {
	grid-template-areas:
	'header header header'
	'desc desc sidetop'
	'desc desc sidebot'
	'img img img';
}

.gc-hidden > div:not(.grid-proj-title) {
	display: none;
}

.grid-container > div {
	padding: var(--section-padding);
}

.grid-section-title {
	display: inline-block;
	padding-bottom: 4px;
	font-family: var(--header-font);
	font-size: calc(var(--main-font-size) * 1.25);
	color: var(--emphasis-dark-text-color);
}

.grid-proj-title:hover > .grid-section-title {
	color: var(--main-text-color);
	transition: color 0.25s;
	transition-timing-function: ease-out;
}

.grid-header-obj-container {
	float: right;
	padding-right: 4px;
}

.grid-svg-icon {
	width: 32px;
	height: 32px;
}

.grid-audio-player {
	max-height: 32px;
}

/* https://stackoverflow.com/questions/4126708/is-it-possible-to-style-html5-audio-tag */
/*
audio::-webkit-media-controls-panel {
	background-color: rgba(31, 33, 35, 0.9);
}*/

/*=====================\
|| PROJECT THUMBNAILS ||
\=====================*/
.image-slide {
	margin: 10px;
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.thumbnail-container {
	overflow: hidden;
	display: inline-grid;
	background-color: black;
	width: var(--thumbnail-default-size);
	height: var(--thumbnail-default-size);
	min-width: var(--thumbnail-min-size);
	min-height: var(--thumbnail-min-size);
	max-width: var(--thumbnail-max-size);
	max-height: var(--thumbnail-max-size);
}

.thumbnail-container-const {
	height: auto;
	min-height: 0;
}

.thumbnail-img {
	width: 100%;
}

.img-unfocused {
	opacity: 50%;
	transition: opacity 0.25s;
	filter: blur(1px);
}

.img-unfocused:hover {
	opacity: 100%;
	cursor: pointer;
	transition: opacity 0.25s;
	filter: blur(0px);
}

.spotlight {
	margin: auto;
	display: contents;
	width: 80%;
}

.spotlight-img {
	max-width: 95%;
}

.spotlight-const-size {
	width: 600px;
	max-height: 338px;
}

.spotlight-img-active {
	opacity: 100%;
	transition: opacity 0.5s;
}

.spotlight-img-hidden {
	position: fixed;
	opacity: 0%;
}

/*=========\
|| IMAGES ||
\=========*/
#img-portrait {
	width: var(--portrait-size);
	height: auto;
	background-color: var(--info-container-bg-color);
	box-shadow: 0px 0px 2px;
}

#polaroid-desc {
	margin-top: calc(var(--portrait-size) * .05);
	margin-bottom: calc(var(--portrait-size) * .05);
	font-family: "Caveat", var(--main-font);
	font-size: calc(var(--main-font-size) * 1.25);
}

.polaroid {
	display: table;
    height: auto;
    margin: auto;
    margin-bottom: var(--section-padding);
    padding: calc(var(--portrait-size) * .05);
	background-color: rgb(240, 240, 240);
	color: black;
	box-shadow: 0px 0px 4px;
}

#polaroid-desc::selection {
	background-color: rgba(0, 0, 0, 0.5);
	color: rgb(240, 240, 240);
}

.svg-icon {
	width: 50px;
	fill: var(--main-text-color);
}

.svg-container {
	margin: 15px;
}

.all-svg-container {
	display: inline-flex;
}

.icon-highlight:hover svg {
	fill: var(--emphasis-text-color);
	cursor: pointer;
}

.icon-highlight:hover span {
	color: var(--emphasis-text-color);
}

/*==========\
|| COMPACT ||
\==========*/
@media (max-width: 960px) {
	html, body {
		overflow: auto;
	}

	#page-container {
		scroll-snap-type: none;
	}

	.content-container {
		height: auto;
	}

	.navigation-container {
		display: none;
	}

	.info-container {
		width: 100%;
	}

	.content-container {
		width: 100%;
		min-height: 100%;
	}

	.gc-v1 {
		grid-template-columns: inherit;
		grid-template-areas:
		'header header'
		'sidetop sidetop'
		'desc desc'
		'img img';
	}

	.gc-v2 {
		grid-template-columns: inherit;
		grid-template-areas:
		'header header'
		'sidetop sidebot'
		'desc desc'
		'img img';
	}

	.grid-audio-player {
		max-width: 300px;
		width: 50vw;
	}
}

@media (max-width: 500px) {
	.grid-container {
		margin: 0;
		margin-bottom: var(--section-padding) / 2;
		transition: margin 0.5s;
	}
}

/*=========\
|| LAPTOP ||
\=========*/
@media (hover: hover) and (pointer: fine) {
}
